<div class="mas-form-group">

  <label *ngIf="label"
         class="mas-form-group__label"
         [class.mas-form-group__label--required]="true"
         [for]="id">{{label}}</label>

  <input type="text"
         class="mas-form-group__input"
         [id]="id"
         [formControl]="control"
         [attr.name]="name"
         [attr.aria-describedby]="id + '--error'">

  <mas-validation-messages
    class="mas-form-group__error"
    [control]="control"
    [id]="id + '--error'">
  </mas-validation-messages>

</div>
