<h2>Form</h2>

<form [formGroup]="form">

  <div class="mas-form-grid">
    <mas-input class="mas-form-grid__item"
               controlName="firstName"
               label="First Name"></mas-input>
    <mas-input class="mas-form-grid__item"
               name="surname"
               label="Surname"></mas-input>
  </div>

  <div formGroupName="address">
    <h3>Address:</h3>
    <mas-input name="street" label="Street"></mas-input>
    <mas-input name="city" label="City"></mas-input>
  </div>
</form>

Form status: {{ form.status | json }}<br/>
Form value: {{ form.value | json }}<br/>

<br/>
TODO:
<ol>
  <li>Validators as parameter</li>
  <li>Special for required validator</li>
  <li>Cross fields validation</li>
</ol>
